body {
  margin: 0;
  margin-left: 100px;
  margin-right: 100px;
  font-family: "Quicksand", sans-serif;

  text-align: center;
}

.conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.espacio {
  margin: 40px;
}

h3 {
  color: red;
}

p {
  color: blue;
}

h3,
p,
li {
  text-align: left;
}

.imge {
  height: 300px;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1200px) {
  body {
    margin-left: 400px;
    margin-right: 400px;
  }
}
